<%- include partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= item._id %>"
                    >
                    <label for="itemTextField">Contact Name</label>
                    <input type="text" class="form-control"
                        id="itemTextField"
                        placeholder="Enter the Item Name"
                        name="contactName" 
                        value="<%= item.contactName %>"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="contactNumberTextField">Contact Number</label>
                    <input type="number" class="form-control"
                    id="contactNumberTextField"
                    placeholder="Enter Phone Number (1234567890 format)"
                    name="contactNumber" 
                    value="<%= item.contactNumber %>"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="itemTextField">Email Address</label>
                    <input type="text" class="form-control"
                    id="itemTextField2"
                    placeholder="Enter a status"
                    name="emailAddress" 
                    value="<%= item.emailAddress %>"
                    >
                </div>
  
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/contacts/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<%- include partials/footer.ejs %>